*.class
*.iml
*.jar
/mall-api/target/classes/META-INF/mall-api.kotlin_module
/.idea/libraries/Maven__com_github_xiaoymin_swagger_bootstrap_ui_1_6.xml
/.idea/libraries/Maven__com_google_guava_guava_18_0.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Maven__commons_io_commons_io_1_3_2.xml
/.idea/libraries/Maven__io_springfox_springfox_core_2_4_0.xml
/.idea/libraries/Maven__io_springfox_springfox_schema_2_4_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spi_2_4_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spring_web_2_4_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger2_2_4_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_common_2_4_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_ui_2_4_0.xml
/.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_6.xml
/.idea/libraries/Maven__io_swagger_swagger_models_1_5_6.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_4.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/uiDesigner.xml
/mall-api/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/mall-api/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/mall-common/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/mall-common/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/mall-mapper/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/mall-mapper/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/mall-pojo/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/mall-pojo/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/mall-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/mall-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/mall-mapper/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/mall-mapper/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/mall-common/target/classes/META-INF/mall-common.kotlin_module
/mall-mapper/target/mall-mapper-1.0-SNAPSHOT.jar
/.idea/libraries/Maven__com_alibaba_fastjson_1_2_76.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_8.xml
/mall-mapper/target/maven-archiver/pom.properties
